html {
  height: 100%;
}
main div {
  position: relative;
}
main div header {
  display: flex;
  justify-content: space-around;
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background-color: red;
  padding: 10px;
}
main div section {
  flex: 1;
}
main div section h1 {
  text-align: center;
}
main div section h1,
main div section span,
main div section img {
  display: block;
}
main div section span {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
}
main div time {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  font-weight: bold;
}
main div img {
  width: 40px;
  height: 40px;
  margin: 0px auto;
}
main > div {
  position: fixed;
  top: calc(20% - 40px);
  left: calc(50% - 50px);
}
main > div > footer {
  display: flex;
  height: 100vh;
  /*&>div:nth-child(1){ // la semi de la esquerra
            
            footer {
                position:absolute;
                top:(-2 * @alcada );
                right: 110%;
            }
        }

        &>div:nth-child(2){// la semi de la dreta
            div {
                margin-top:30px;
            }
            footer {
                position:absolute;
                top:(-2 * @alcada );
                left: 110%;
            }
        }*/
}
main > div > footer div {
  display: flex;
  height: 50%;
}
main > div > footer div header {
  align-self: center;
}
